.navigation_container {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: 35px;

  .navigation_list {
    // ul {
    //     list-style: none;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     margin: 0;

    //     li {
    //         padding: 25px;
    // color: #eff5ffad;
    // font-family: 'Cinzel', serif;
    // text-transform: uppercase;

    //         img {

    //             width: 200px;
    //             height: 75px;
    //             object-fit: contain;
    //         }

    //         &:hover {
    // cursor: pointer;
    // transition: 1s;
    // text-decoration: wavy underline;
    // color: white;
    // font-weight: 500;
    // transform: translateY(5px);
    //         }
    //     }
    // }

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0px auto;
    padding: 10px;

    div {
      // background-color: aqua;
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      @media (max-width: 680px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }

    a {
      color: #eff5ffad;
      font-family: "Cinzel", serif;
      text-transform: uppercase;
      text-decoration: none;
    }

    span {
      max-width: 150px;
      img {
        width: 100%;
      }
    }

    a:hover {
      cursor: pointer;
      transition: 1s;
      text-decoration: wavy underline;
      color: white;
      font-weight: 500;
      transform: translateY(5px);
    }
  }
}
